[submodule "modules/todo"]
	path = modules/todo
	url = https://github.com/pivaldi/mmw-todo.git
[submodule "libs/ogl"]
	path = libs/ogl
	url = https://github.com/ovya/ogl.git
[submodule "stow/common/scripts/common/libs/bash-stepper"]
	path = scripts/libs/bash-stepper
	url = https://github.com/pivaldi/bash-stepper
[submodule "modules/notifications"]
	path = modules/notifications
	url = https://github.com/pivaldi/mmw-notifications.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/pivaldi/mmw-auth.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/pivaldi/mmw-contracts.git
[submodule "libs/mmw"]
	path = mmw
	url = https://github.com/piprim/mmw.git
